<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="postproc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <postproc.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://dtvapi.local/api.php</value>
            </setting>
            <setting name="ServiceFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Method" serializeAs="String">
                <value>PUT</value>
            </setting>
            <setting name="NetworkType" serializeAs="String">
                <value>DVB-S</value>
            </setting>
            <setting name="ContentType" serializeAs="String">
                <value>application/json</value>
            </setting>
        </postproc.Properties.Settings>
    </userSettings>
</configuration>